django-jazzmin
django-countries
django-phonenumber-field
django-phonenumbers
djangorestframework
markdown
py-moneyed
django-money
django-filter
django-import-export
django-crispy-forms
crispy-bootstrap5
django-widget-tweaks
easy-thumbnails
django-rosetta
django-tagify2
django-ckeditor
django-allauth
django-bootstrap-modal-forms
django-currentuser
django-weasyprint
django-environ
sentry_sdk
django-language-field
django-admin-honeypot
mysqlclient
geoip2
django-grappelli
Pillow==10.0.1
Django==3.2.23
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability