{% extends 'base.html' %}
{% block content %}
<div class="content-section content-shadow">
<form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Change Passowrd</h1>
  <div class="mb-3">
    <label for="id_old_password">Old Passowrd:</label>
    <input name="old_password" class="form-control" placeholder="Old Passowrd" type="password" id="id_old_password" required>
    </div>
    <div class="mb-3">
      <label for="id_new_password1">New Passowrd:</label>
    <input name="new_password1" class="form-control" placeholder="New Passowrd" type="password" id="id_new_password1" required>
    </div>
    <div class="mb-3">
      <label for="id_new_password2">Confirm New Passowrd:</label>
    <input name="new_password2" class="form-control" placeholder="Confirm New Passowrd" type="password" id="id_new_password2" required>
</div>
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <p>Please Check The Below:</p>
  <ol>
    {% for field in form %}
      {% for error in field.errors %}
    <li >{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ol>
</div>
{% endif %}
  <button class="btn btn-new" type="submit">Change</button>  
</form>
</div>
{% endblock %}