{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n %}
<style type="text/css">
	.h3 {
		text-align: center;
	}
</style>
<!-- ===== Start of Login - Register Section ===== -->
<section class="ptb150" id="login">
	<div class="row justify-content-center">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<!-- Start of Login Box -->
			<div class="login-box">
				<div class="login-title">
					<h4>{% trans 'Reset Password Done' %}</h4>
				</div>
				<div class="ptb50 text-center">
					<p>Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}