{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n %}
<style type="text/css">
	.h3 {
		text-align: center;
	}
</style>
<!-- ===== Start of Login - Register Section ===== -->
<section class="ptb150" id="login">
	<div class="row justify-content-center">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<!-- Start of Login Box -->
			<div class="login-box">
				<div class="login-title">
					<h4>{% trans 'Reset link sent to your email' %}</h4>
				</div>
				<div class="text-center ptb50  d-flex flex-column">
					<p>
						We've emailed you instructions for setting your password, if an account exists with the
						email you entered.
						You should receive them shortly.
					</p>
					<p>
						If you don't receive an email, please make sure you've entered the address you registered
						with,
						and check your spam folder.
					</p>
					<p class="link"><a class="btn btn-primary" href="{% url 'home' %}">Return to home
							page</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}