{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block content %}
<!-- ===== Start of Job Header Section ===== -->
<section class="job-header ptb60">
    <div class="container">

        <!-- Start of Row -->
        <div class="row">

            <div class="col-md-10 col-xs-12">
                <h3>{{ job.job_title }}</h3>
                <a href="#" class="btn btn-green btn-small btn-effect mt15">{% trans job.job_type %}</a>
            </div>

            <div class="col-md-2 col-xs-12 clearfix">
                {% if is_job_owner == True %}
                <div class="mt20">
                    <a href="{% url 'job_update' job.id %}" class="btn btn-blue btn-effect pull-right mt15"><i
                            class="fa fa-edit"></i>{% trans 'Edit Job' %}
                    </a>
                </div>
                {% endif %}
            </div>


        </div>
        <!-- End of Row -->

    </div>
</section>
<!-- ===== End of Job Header Section ===== -->





<!-- ===== Start of Main Wrapper Job Section ===== -->
<section class="ptb80" id="job-page">
    <div class="container">
        {% if messages %}
        <div class="row justify-content-center">
            <div class="col-8">
                {% for message in messages %}
                <div
                    class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-success {% endif %} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- Start of Row -->
        <div class="row">

            <!-- ===== Start of Job Details ===== -->
            <div class="col-md-8 col-xs-12">

                <!-- Start of Company Info -->
                <div class="row company-info">

                    <!-- Job Company Image -->
                    <div class="col-md-3">
                        <div class="job-company">
                            <a
                                href="{% if job.employer.public_company_info == 'Y' %}{% url 'employer_details' employer.id %}{% else %}#{% endif %}">
                                <img class="img-fluid"
                                    src="{% if job.employer.public_company_info == 'Y' %} {{ job.employer.logo.url }} {% else %} {% static 'images/EIQLOGO.svg' %}{% endif %}"
                                    alt="">
                            </a>
                        </div>
                    </div>

                    <!-- Job Company Info -->
                    <div class="col-md-9">
                        <div class="job-company-info mt30">
                            <h3 class="capitalize">
                                {% if job.employer.public_company_info == 'Y' %}{{ employer.company }}{% else %}{% trans 'Private Company Name' %}{% endif %}
                            </h3>
                            <p class="capitalize">{{ employer.industry }}</p>

                            <ul class="list-inline mt10">
                                <li><a href="{{ employer.website }}"><i class="fa fa-link"
                                            aria-hidden="true"></i>Website</a></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <!-- End of Company Info -->


                <!-- Start of Job Details -->
                <div class="row job-details mt40">
                    <div class="col-md-12">
                        <div class="pt40">
                            <h5>{% trans 'Job Description' %}</h5>

                            <p class="mt20">{{ job.job_description|safe }}</p>
                        </div>

                    </div>
                </div>
                <!-- End of Job Details -->

            </div>
            <!-- ===== End of Job Details ===== -->

            <!-- ===== Start of Job Sidebar ===== -->
            <div class="col-md-4 col-xs-12">
                <!-- Start of Job Sidebar -->
                <div class="row">
                    <div class="job-sidebar">
                        <ul class="job-overview nopadding mt40">

                            <li>
                                <h5><i class="fa fa-calendar"></i> {% trans 'Date Opened:' %}
                                    <span>{{ job.date_opened }}</span></h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-map-marker"></i> {% trans 'Location:' %} <span>{{ job.city }},
                                        {{ job.get_country_display }}</span></h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-money"></i> {% trans 'Salary:' %} <span>{{ job.salary }}</span></h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-globe" aria-hidden="true"></i>
                                    {% trans 'Nationality:' %} <span>{% trans job.nationality %}</span></h5>
                            </li>
                        </ul>
                        {% if is_job_owner == False %}
                        <div class="mt20">

                            {% if applied == False %}
                            <button type="button" class="btn btn-blue btn-effect" data-bs-toggle="modal"
                                data-bs-target="#applyJob">
                                {% trans 'Apply for job' %}
                            </button>
                            {% elif applied == True %}
                            <p class="alert alert-success">{% trans 'Your Already applied' %}</p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if is_job_owner %}
                <div class="row">
                    <div class="job-sidebar">
                        <p>{% trans 'Applied candidates' %}</p>
                        <ol class="list-group list-group-numbered">
                            {% for cand in candidates_list %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <img class="img-thumbnail" width="50px" src="{{cand.photo.url}}"
                                    alt="{{ cand.firstname }}">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold"> {{ cand.title }} {{ cand.firstname }}
                                        {{ cand.secondname }}
                                        {{ cand.lastname }}</div>
                                    {{ cand.get_city_display }}
                                </div>
                                <a href="{% url 'candetials' cand.id %}"
                                    class="btn btn-blue btn-effect">{% trans 'Details' %}</a>
                            </li>
                            {% endfor %}
                            </ul>
                    </div>
                </div>
                {% endif %}
                {% if user.is_superuser %}
                <div class="row">
                    <div class="job-sidebar">
                        <p>{% trans 'Applied candidates' %}</p>
                        <ol class="list-group list-group-numbered">
                            {% for cand in candidates_list %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <img class="img-thumbnail" width="50px" src="{{cand.photo.url}}"
                                    alt="{{ cand.firstname }}">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold"><a href="{% url 'candetials' cand.id %}"
                                            class="link-primary">{{ cand.title }} {{ cand.firstname }}
                                            {{ cand.secondname }}
                                            {{ cand.lastname }}</a></div>
                                    {{ cand.get_city_display }}
                                </div>

                            </li>
                            {% endfor %}
                            </ul>
                    </div>
                </div>
                {% endif %}
                <!-- Start of Job Sidebar -->
            </div>
            <!-- ===== End of Job Sidebar ===== -->
        </div>
        <!-- End of Row -->


    </div>
</section>
<!-- ===== End of Main Wrapper Job Section ===== -->

<!-- Modal -->
<div class="modal fade" id="applyJob" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="applyJobLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="applyJobLabel">Apply Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You need to edit anything in your profile before applying on this job? or apply for this job now</p>
            </div>
            <div class="modal-footer">
                <a type="button" href="{% url 'my_candidate_details' %}" class="btn btn-warning">Yes Edit</button>
                    <a type="button" href="{% url 'job_apply' job.id %}" class="btn btn-primary">Apply NOW</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}