{% extends "base.html" %}
{% load countries %}

{% block content %}
{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.bootstrap5.min.css" />
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css" />
<!-- filter options -->
<div class="header">
  <div class="filtered">
    <section class="main overlay-black">
      <div class="container wrapper">

        <form method="GET">
          <div class="row m-3">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="keywords" name="keywords"
                  aria-describedby="search by jib title, employer" placeholder="search by jib title, employer">
                <label for="keywords">{% trans 'keywords' %}</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <select class="form-control form-control-lg" placeholder="{% trans 'select city' %}" id="city"
                  name="city">
                  <option value='Al Anbar'>{% trans 'Al Anbar' %}</option>
                  <option value='Babylon'>{% trans 'Babylon' %}</option>
                  <option value='Baghdad'>{% trans 'Baghdad' %}</option>
                  <option value='Basra'>{% trans 'Basra' %}</option>
                  <option value='Dhi Qar'>{% trans 'Dhi Qar' %}</option>
                  <option value='Al-Qadisiyyah'>{% trans 'Al-Qadisiyyah' %}</option>
                  <option value='Diyala'>{% trans 'Diyala' %}</option>
                  <option value='Duhok'>{% trans 'Duhok' %}</option>
                  <option value='Erbil'>{% trans 'Erbil' %}</option>
                  <option value='Halabja'>{% trans 'Halabja' %}</option>
                  <option value='Karbala'>{% trans 'Karbala' %}</option>
                  <option value='Kirkuk'>{% trans 'Kirkuk' %}</option>
                  <option value='Maysan'>{% trans 'Maysan' %}</option>
                  <option value='Muthanna'>{% trans 'Muthanna' %}</option>
                  <option value='Najaf'>{% trans 'Najaf' %}</option>
                  <option value='Nineveh'>{% trans 'Nineveh' %}</option>
                  <option value='Saladin'>{% trans 'Saladin' %}</option>
                  <option value='Sulaymaniyah'>{% trans 'Sulaymaniyah' %}</option>
                  <option value='Wasit'>{% trans 'Wasit' %}</option>
                </select>
                <label for="city">{% trans 'Location' %}</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <select class="form-control" placeholder="Number of records" id="number_of_records"
                  name="number_of_records" aria-label="priority">
                  <option value='10'>{% trans '10 records' %}</option>
                  <option value='25'>{% trans '25 records' %}</option>
                  <option value='50'>{% trans '50 records' %}</option>
                </select>
                <label for="id" class="form-label">{% trans 'Number of records' %}</label>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="d-grid gap-2 col-2 mx-auto">
              <button type="submit" name="search" value="search" class="btn btn-warning">{% trans 'Search' %}</button>
            </div>
            <div class="d-grid gap-2 col-2 mx-auto">
              <button type="submit" name="clear" value="clear" class="btn btn-danger">{% trans 'Clear' %}</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>

  <section class="company-jobs ptb80">
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="pb60">{% trans 'Jobs' %}</h3>
        </div>
      </div>
      <h4>We found {{ jobs_count }} matches.</h4>
      {% for job in page_obj %}
      <div class="row pt30">
        <!-- ===== Start of Single Job Post 1 ===== -->
        <div class="single-job-post row shadow-hover mt30">
          <!-- Job Company -->
          <div class="col-md-2 col-xs-3 nopadding">
            <div class="job-company">
              <a href="{% if job.employer.public_company_info == 'Y' %}{% url 'employer_details' job.employer.id %}{% else %}#{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if job.employer.public_company_info == 'Y' %}{{ job.employer }}{% else %}{% endif %}">
                <img class="img-fluid"
                  src="{% if job.employer.public_company_info == 'Y' %} {{ job.employer.logo.url }} {% else %} {% static 'images/EIQLOGO.svg' %}{% endif %}"
                  alt="{{job.employer.public_company_info}}">
              </a>
            </div>
          </div>

          <!-- Job Title & Info -->
          <div class="col-md-8 col-xs-6">
            <div class="job-title">
              <a href="{% url 'job_details' job.id %}">{{ job.job_title }}</a>
              <p>{{ job.city}}, {{ job.get_country_display }}</p>
            </div>

          </div>

          <!-- Job Category -->
          <div class="col-md-2 col-xs-3">
            <div class="job-category">
              <a href="javascript:void(0)" class="btn btn-green btn-small btn-effect">{{ job.job_type }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== End of Single Job Post 1 ===== -->
      {% endfor %}
      <div class="row justify-content-center mt30 ">
        <nav aria-label="Page navigation ">
          <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                {% if page_obj.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    {% if i == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        </nav>
      </div>
 
      {% comment %} <div class="row mt30">
        <div class="col-md-12 text-center">
          <a href="#" class="btn btn-blue btn-effect">show all</a>
        </div>
      </div> {% endcomment %}


    </div>
  </section>



</div>





<script type="text/javascript">
  var srchval = JSON.parse('{{ session | escapejs }}');
  window.addEventListener('load', function () {
    // document.getElementById('cm').classList.add('active');
    document.getElementById('city').value = srchval[1];
    document.getElementById('number_of_records').value = srchval[2];
    document.getElementById('keywords').value = srchval[0];
  })
</script>
{% endblock %}

{% include "footer.html" %}
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js">
</script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    const table = $('#cand_list').DataTable({
      dom: 'Brti',
      buttons: ['copy', 'excel', 'csv', 'print'],
      responsive: !0,
      fixedHeader: !0,
      stateSave: !0,
      colReorder: !0,
      scrollY: 600,
      deferRender: !0,
      scroller: !0,
      scrollCollapse: !0,
      paging: false,
    });
  });
</script>