{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% load static %}
<!DOCTYPE html>

<html lang="{{CURRENT_LANGUAGE}}" dir="{% if CURRENT_LANGUAGE == 'en' %}ltr{% else %}rtl{% endif %}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta Tags - Description for Search Engine purposes -->
    <meta name="description" content="Employiq - Job Board">
    <meta name="keywords"
        content="Employiq - Job Board, job board, job listing, job portal, job postings, jobs, recruiters, recruiting, recruitment">
    <meta name="author" content="Saif AlKhateeb">

    <!-- Website Title -->
    <title>Employiq - Job Board</title>
    <link rel="shortcut icon" href="{% static 'images/EIQLOGO.svg' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- CSS links -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cstyle.css' %}">
    {% if CURRENT_LANGUAGE == 'en' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.rtl.min.css' %}">
    {% endif %}
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">

</head>

<!-- =============== Start of Header 1 Navigation =============== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <!-- Image Logo -->
        <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/EIQLOGO2.svg" width="150" height="100"
                alt="alternative"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">{% trans 'About' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans 'For Candidates' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'my_candidate_details' %}">{% trans 'Profile' %}</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'job_list' %}">{% trans 'Search for a job' %}</a>
                        </li>
                        {% if not user.is_candidate %}
                        <li><a class="dropdown-item"
                                href="{% url 'candidate_create' %}">{% trans 'Create Candidate' %}</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans 'for employers' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if not user.is_employer %}
                        <li><a class="dropdown-item" href="{% url 'my_employer_details' %}">{% trans 'Profile' %}</a>
                        <li><a class="dropdown-item" href="{% url 'job_create' %}">{% trans 'Post a job' %}</a>
                        <li> <a class="dropdown-item" href="{% url 'candlist' %}">{% trans 'Find a candidate' %}</a>
                            {% endif %}

                        </li>
                    </ul>
                </li>
                {% if user.is_authenticated %}

                <li class="menu-item login-btn">
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>{% trans 'LOGOUT' %}</a>
                </li>
                {% else %}
                <li class="menu-item login-btn">
                    <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>{% trans 'Login' %}</a>
                </li>
                <li class="menu-item login-btn">
                    <a href="{% url 'register' %}"><i class="fa fa-sign-in"></i>{% trans 'Register' %}</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/en/{{request.get_full_path|slice:"4:"}}">English</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  page-scroll" href="/ar/{{request.get_full_path|slice:"4:"}}">العربيّة</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main">
    {% block content %}{% endblock %}
</div>


<!-- =============== Start of Footer 1 =============== -->
<footer class="footer1">

    <!-- ===== Start of Footer Information & Links Section ===== -->
    <div class="footer-info ptb80">
        <div class="row justify-content-center">

            <!-- 1st Footer Column -->
            <div class="col-md-5 col-sm-5 col-xs-5 footer-about">

                <!-- Your Logo Here -->
                <a href="index.html">
                    <img width="250px" Height="250px" src="{% static 'images/logo.svg' %}" alt="">
                </a>
                <h3>Employeiq</h3>
                <!-- Small Description -->
                <p class="pt40">
                    {% trans 'EmployIQ is a professional recruiter in Iraq that have come together to assist YOU with a simplified and cost-effective recruitment process.  We connect numerous number of people to new opportunities every single day, through our job portal by putting job seekers first and offering free resume building and company research.' %}
                </p>

                <!-- Info -->
                <ul class="nopadding">
                    <li><i class="fa fa-map-marker"></i>{% trans 'Erbil, Iraq' %}</li>
                    <li><i class="fa fa-phone"></i>(123) 456 789 0012</li>
                    <li><i class="fa fa-envelope-o"></i><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="c1b8aeb4b3a4aca0a8ad81a2a0b3a8a4b3a0efa2aeac">[email&#160;protected]</a>
                    </li>
                </ul>
            </div>

            <!-- 2nd Footer Column -->
            <div class="col-md-5 col-sm-5 col-xs-5 footer-links">
                <h3>{% trans 'Useful links' %}</h3>

                <!-- Links -->
                <ul class="nopadding">
                    <li><a href="{% url 'home' %}"><i class="fa fa-angle-double-right"></i>{% trans 'Home' %}</a></li>
                    <li><a href="{% url 'my_candidate_details' %}"><i
                                class="fa fa-angle-double-right"></i>{% trans 'My Candidate Profile' %}</a></li>
                    <li><a href="{% url 'candlist' %}"><i
                                class="fa fa-angle-double-right"></i>{% trans 'Find a candidate' %}</a></li>
                    <li><a href="{% url 'job_create' %}"><i
                                class="fa fa-angle-double-right"></i>{% trans 'Post a job' %}</a></li>
                    <li><a href="{% url 'job_list' %}"><i
                                class="fa fa-angle-double-right"></i>{% trans 'Search for a job' %}</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- ===== End of Footer Information & Links Section ===== -->


    <!-- ===== Start of Footer Copyright Section ===== -->
    <div class="copyright ptb40">
        <div class="row justify-content-center">

            <div class="col-md-5 col-sm-5 col-xs-10">
                <span>{% trans 'Copyright &copy; Employiq. All Rights Reserved' %}</span>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-10">
                <!-- Start of Social Media Buttons -->
                <ul class="social-btns list-group list-group-horizontal text-right">
                    <!-- Social Media -->
                    <li>
                        <a href="https://www.facebook.com/EmployIQ" class="social-btn-roll facebook">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                            </div>
                        </a>
                    </li>
                    <!-- Social Media -->
                    <li>
                        <a href="https://instagram.com/employiq" class="social-btn-roll instagram">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                            </div>
                        </a>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a href="https://www.linkedin.com/company/employ-iraq" class="social-btn-roll linkedin">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-linkedin"></i>
                                <i class="social-btn-roll-icon fa fa-linkedin"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- End of Social Media Buttons -->
            </div>

        </div>
    </div>
    <!-- ===== End of Footer Copyright Section ===== -->

</footer>
<!-- =============== End of Footer 1 =============== -->

<!-- ===== Start of Back to Top Button ===== -->
<a href="#" class="back-top"><i class="fa fa-chevron-up"></i></a>
<!-- ===== End of Back to Top Button ===== -->


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/jquery.inview.min.js' %}"></script>

<script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>


</body>

</html>