{% extends "base.html" %}
{% load i18n %}
{% load countries %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% block content %}
{% load djmoney %}
{% load static %}
<!-- ===== Start of Main Search Section ===== -->
<section class="main overlay-black">

    <!-- Start of Wrapper -->
    <div class="container wrapper">

        <h1 class="capitalize text-center text-white ">{% trans 'search for candidates now' %}</h1>

        <!-- Start of Form -->
        <form class="job-search-form row pt40" action="#" method="post">
            {% csrf_token %}

            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-12 search-categories">
                    <select class="form-control form-control-lg" name="education" id="education"
                        title="{% trans 'Education' %}">
                        <option value="1">{% trans 'Non-Degree Programme' %}</option>
                        <option value="2">{% trans 'High School diploma' %}</option>
                        <option value="3">{% trans 'Technical Diploma' %}</option>
                        <option value="4">{% trans 'Bachelors Degree' %}</option>
                        <option value="5">{% trans 'Master Degree' %}</option>
                        <option value="6">{% trans 'PhD Doctorate Degree' %}</option>
                    </select>
                    <label for="education">{% trans 'Education' %}</label>
                </div>

                <!-- Start of location input -->
                <div class="col-md-4 col-sm-12 search-location">
                    {% get_countries as countries %}
                    <select class="form-control form-control-lg" placeholder="select country" id="country"
                        name="country">
                        {% for country in countries %}
                        <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="country">{% trans 'Location' %}</label>

                </div>

                <!-- Start of submit input -->
                <div class="col-md-2 col-sm-12 search-submit">
                    <button type="submit" class="btn btn-primary btn-effect btn-large form-control-lg"><i
                            class="fa fa-search"></i>{% trans 'Search' %}</button>
                </div>
            </div>
        </form>
        <!-- End of Form -->



    </div>
    <!-- End of Wrapper -->

</section>
<!-- ===== End of Main Search Section ===== -->

<!-- ===== Start of Pricing Tables Section ===== -->
<section class="pricing-tables pb40">
    <div class="row">
        <div class="col-md-12 text-center mb-5 mt-5">
            <h2>{% trans 'pricing table' %}</h2>
        </div>
    </div>
    <div class="row">
        {% for price in princing %}
        <div class="col-md-3 col-xs-12 mt80 mb20">
            <div class="pricing-table shadow-hover" {% if price.plan == 'Premium' %}id="popular" {% endif %}>
                <div class="pricing-header">
                    <h2>{{ price.plan }}</h2>
                </div>
                <div class="pricing">
                    <div class="row">
                        <span class="amount">{{ price.price }}</span>
                    </div>
                    <span
                        class="month">{% if price.days == 30 %}{% trans 'Monthly' %}{% elif  price.days == 365 %}{% trans 'Annual' %}{% endif %}</span>
                </div>
                <div class="pricing-body">
                    <ul class="list">
                        <li>{% trans 'Post in website and social media' %}</li>
                        <li>{% trans 'Unlimit applicant through email' %}</li>
                        <li>Post {{ price.jobs }} Job</li>
                        <li>{% if price.suggestions == 99999 %}{% trans 'Unlimited' %}
                            {% else %}{{ price.suggestions }}
                            {% endif %}{% trans 'Suggestions' %}</li>

                    </ul>
                </div>

                <!-- Pricing Footer -->
                <div class="pricing-footer">
                    <a href="#" class="btn btn-blue btn-effect">get started</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</section>
<!-- ===== End of Pricing Tables Section ===== -->


<!-- ===== Start of CountUp Section ===== -->
<section class="ptb40" id="countup">
    <div class="row">

        <!-- 1st Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="743"></span>
            <h4>{% trans 'members' %}</h4>
        </div>

        <!-- 2nd Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="579"></span>
            <h4>{% trans 'jobs'  %}</h4>
        </div>

        <!-- 3rd Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="251"></span>
            <h4>{% trans 'resumes' %}</h4>
        </div>

        <!-- 4th Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="330"></span>
            <h4>{% trans 'companies' %}</h4>
        </div>

    </div>
</section>
<!-- ===== End of CountUp Section ===== -->
<section class="ptb40" id="partners">
    <div class="container">

        <!-- Start of Owl Slider -->
        <div class="owl-carousel partners-slider owl-loaded owl-drag">
            {% for employere in allemployers %}
            <div class="owl-item active" style="width: 235px;">
                <div class="item">
                    <a href="{% url 'employer_details' employere.id %}" data-bs-toggle="tooltip" data-bs-html="true"
                        data-bs-original-title="<em>Employer: </em> <b>{{ employere.company }}</b>"
                        class="text-center d-flex justify-content-center"><img src="{{ employere.logo.url }}"
                            alt="{{ employere.company }}" class="rounded"></a>
                </div>
            </div>

            {% endfor %}


        </div>
</section>
{% endblock %}