{% extends "base.html" %}
{% load i18n %}
{% load countries %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% block content %}
{% load static %}

<!-- ===== Start of Main Search Section ===== -->
<section class="main overlay-black">

    <!-- Start of Wrapper -->
    <div class="container wrapper">
        <h1 class="capitalize text-center text-white">{% trans 'search for candidates now' %}</h1>

        <!-- Start of Form -->
        <form class="job-search-form row pt40" action="#" method="get">

            <!-- Start of keywords input -->
            <div class="col-md-3 col-sm-12 search-keywords">
                <label for="search-keywords">{% trans 'Keywords' %}</label>
                <input type="text" name="search-keywords" id="search-keywords" placeholder="{% trans 'Keywords' %}">
            </div>

            <!-- Start of category input -->
            <div class="col-md-3 col-sm-12 search-categories">
                <label for="search-categories">{% trans 'Education' %}</label>
                <select class="form-control" name="search-categories" id="search-categories"
                    title="{% trans 'Education' %}">
                    <option value="1">{% trans 'Non-Degree Programme' %}</option>
                    <option value="2">{% trans 'High School diploma' %}</option>
                    <option value="3">{% trans 'Technical Diploma' %}</option>
                    <option value="4">{% trans 'Bachelors Degree' %}</option>
                    <option value="5">{% trans 'Master Degree' %}</option>
                    <option value="6">{% trans 'PhD Doctorate Degree' %}</option>
                </select>
            </div>

            <!-- Start of location input -->
            <div class="col-md-4 col-sm-12 search-location">
                {% get_countries as countries %}
                <select class="form-control" placeholder="select country" id="country" name="country">
                    {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <label for="country">{% trans 'Location' %}</label>

            </div>

            <!-- Start of submit input -->
            <div class="col-md-2 col-sm-12 search-submit">
                <button type="submit" class="btn btn-blue btn-effect btn-large"><i
                        class="fa fa-search"></i>{% trans 'Search' %}</button>
            </div>

        </form>
        <!-- End of Form -->



    </div>
    <!-- End of Wrapper -->

</section>
<!-- ===== End of Main Search Section ===== -->



<!-- ===== Start of Pricing Tables Section ===== -->
<section class="pricing-tables pb80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-5 mt-5">
                <h2>{% trans 'pricing table' %}</h2>
            </div>
        </div>
        <!-- Start Row -->
        <div class="row">


            <!-- Start of 1st Pricing Table -->
            <div class="col-md-4 col-xs-12 mt80">
                <div class="pricing-table shadow-hover">

                    <!-- Pricing Header -->
                    <div class="pricing-header">
                        <h2>small team</h2>
                    </div>

                    <!-- Pricing -->
                    <div class="pricing">
                        <span class="currency">$</span>
                        <span class="amount">19</span>
                        <span class="month">{% trans 'month' %}</span>
                    </div>

                    <!-- Pricing Body -->
                    <div class="pricing-body">
                        <ul class="list">
                            <li>Post 1 Job per Day</li>
                            <li>Edit Your Job Listing</li>
                            <li>See Job Stats</li>
                            <li>1 Email Support</li>
                        </ul>
                    </div>

                    <!-- Pricing Footer -->
                    <div class="pricing-footer">
                        <a href="#" class="btn btn-blue btn-effect">get started</a>
                    </div>

                </div>
            </div>
            <!-- End of 1st Pricing Table -->


            <!-- Start of 2nd Pricing Table -->
            <div class="col-md-4 col-xs-12 mt80">
                <div class="pricing-table shadow-hover" id="popular">

                    <!-- Pricing Header -->
                    <div class="pricing-header">
                        <h2>corporate</h2>
                    </div>

                    <!-- Pricing -->
                    <div class="pricing">
                        <span class="currency">$</span>
                        <span class="amount">49</span>
                        <span class="month">{% trans 'month' %}</span>
                    </div>

                    <!-- Pricing Body -->
                    <div class="pricing-body">
                        <ul class="list">
                            <li>Post up to 10 Jobs per Day</li>
                            <li>Edit Your Job Listing</li>
                            <li>See Job Stats</li>
                            <li>10 Email Support</li>
                        </ul>
                    </div>

                    <!-- Pricing Footer -->
                    <div class="pricing-footer">
                        <a href="#" class="btn btn-blue btn-effect">get started</a>
                    </div>

                </div>
            </div>
            <!-- End of 2nd Pricing Table -->


            <!-- Start of 3rd Pricing Table -->
            <div class="col-md-4 col-xs-12 mt80">
                <div class="pricing-table shadow-hover">

                    <!-- Pricing Header -->
                    <div class="pricing-header">
                        <h2>enterprise</h2>
                    </div>

                    <!-- Pricing -->
                    <div class="pricing">
                        <span class="currency">$</span>
                        <span class="amount">99</span>
                        <span class="month">{% trans 'month' %}</span>
                    </div>

                    <!-- Pricing Body -->
                    <div class="pricing-body">
                        <ul class="list">
                            <li>Post up to 100 Jobs per Day</li>
                            <li>Edit Your Job Listing</li>
                            <li>See Job Stats</li>
                            <li>Unlimited Email Support</li>
                        </ul>
                    </div>

                    <!-- Pricing Footer -->
                    <div class="pricing-footer">
                        <a href="#" class="btn btn-blue btn-effect">get started</a>
                    </div>

                </div>
            </div>
            <!-- End of 3rd Pricing Table -->

        </div>
        <!-- End Row -->

    </div>
</section>
<!-- ===== End of Pricing Tables Section ===== -->


<!-- ===== Start of CountUp Section ===== -->
<section class="ptb40" id="countup">
    <div class="row">

        <!-- 1st Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="743"></span>
            <h4>{% trans 'members' %}</h4>
        </div>

        <!-- 2nd Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="579"></span>
            <h4>{% trans 'jobs'  %}</h4>
        </div>

        <!-- 3rd Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="251"></span>
            <h4>{% trans 'resumes' %}</h4>
        </div>

        <!-- 4th Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="330"></span>
            <h4>{% trans 'companies' %}</h4>
        </div>

    </div>
</section>
<!-- ===== End of CountUp Section ===== -->


{% endblock %}