{% include "header.html" %}
{% block content %}
{% load static %}

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Job Title</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumbs list-unstyled list-inline">
                        <li class="list-inline-item"><a class="underline" href="{% url 'home' %}">Home</a></li>
                        <li class="list-inline-item"><i class="fa fa-angle-double-right"></i></li>
                        <li class="list-inline-item">Job Details</li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Job Details -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container dark">
                        <h3>Job Description</h3>
                        <p>The Systems Analyst is expected to configure and provide <strong>intermediate functional</strong> and <strong>technical support</strong> for the specified set of applications to a variety of business and clinical users. This position collaborates with the user community to resolve technical problems, application performance issues as well as lead optimization and enhancement efforts. This entails customer-centric workflow and technical knowledge as well as contribution to the <a class="underline" href="#your-link">analysis</a>, <a class="underline" href="#your-link">design</a>, <a class="underline" href="#your-link">development</a>, <a class="underline" href="#your-link">testing</a>, and <a class="underline" href="#your-link">documentation</a>, and <a class="underline" href="#your-link">implementation</a> activities of assigned applications.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container column">
                        <h3>Responsibilities</h3>
                        <p>The position will lead analysis and timely resolution of problems within the <a class="underline" href="#your-link">software applications</a>, and <a class="underline" href="#your-link">provide support</a> for maintenance and upgrades also resolve any technical issues.</p>
                        <ul class="list-unstyled v-space-lg indent">
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Work situations are a combination of intermediate to complex analytical, clinical, financial and administrative responsibilities</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Require independent decision-making, problem solving, leadership, and customer skills, small to medium project leadership</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">This position must possess sufficient detailed healthcare knowledge and systems expertise</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Implement medium to high complexity assigned application with minimal guidance</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">An advanced Information Systems or Business degree will be considered an asset. Information system training preferred</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">If supporting Epic, Proficient or Certified status in one supported module required within 6 months of start date</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Six years of experience in an information technology discipline, or healthcare operations including any clinical department, medical records, patient access, or revenue cycle</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">The position provides support in a 24/7 environment which will include rotating on-call support duties during off hours, weekends and holidays</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">May be required to travel to perform duties. May be required to work outside of normal working hours during on-call rotation or during significant outages or due to project demands.</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->

                <div class="col-lg-6">
                    <div class="text-container column">
                        <h3>Requirements</h3>
                        <p>One of six years working in an information technology capacity, informatics may be considered depending on scope of responsibility.</p>
                        <ul class="list-unstyled v-space-lg indent">
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">One year of successful experience as Systems Analyst I</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Relevant bachelor degree may substitute for (4) years of relevant experience</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Ability to work independently with limited/minimal supervision</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Excellent conceptual, analytical, and problem-solving skills</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Strong ability to prioritize and work through conflicting demands leveraging critical thinking and decision-making skills</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Excellent communication skills, both oral and written</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Strong organizational and time management skills; ability to adapt quickly to changing priorities; ability to successfully manage multiple tasks simultaneously</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-chevron-right"></i>
                                <div class="media-body">Excellent customer service skills</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg wide" href="{% url 'home' %}#application">APPLY FOR JOB</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->
    <!-- end of job details -->
{% endblock %}

{% include "footer.html" %}