{% extends "dashboard/dashboard.html" %} {% block content %} {% load static %}{% load i18n %}
<a href="{% url 'subscription_plan_create' %}" class="btn btn-primary">{% trans 'Add New subscription plan' %}</a>
<div class="tab-pane fade show active" id="Subscriptions" role="tabpanel" aria-labelledby="Subscriptions-tab">
  <div class="card-block p-3">
    <div class="table-responsive">
      <table class="table" id="Subscriptions_table">
        <thead>
          <tr>
            <th>Plan</th>
            <th>Suggestions</th>
            <th>Jobs</th>
            <th>Price</th>
            <th>No of Days</th>
            <th>Is active</th>
          </tr>
        </thead>
        <tbody>
          {% for subscription_plan in page_obj %}
          <tr>
            <td>
              <a href="{% url 'subscription_plan_update' subscription_plan.id %}">
                {{ subscription_plan.plan }}</a>
            </td>
              <td>
                {{ subscription_plan.suggestions }}
            </td>
          <td>
              {{ subscription_plan.jobs }}
          </td>
            <td>
              {{ subscription_plan.price }}
          </td>
            <td>
              {{ subscription_plan.days }}
            </td>
            <td>
              {{ subscription_plan.status }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center mt30">
      <nav aria-label="Page navigation ">
        <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="btn btn-sm btn-warning" href="?page={{ page_obj.previous_page_number }}">«</a>
          </li>
          {% else %}
          <li class="disabled page-item">
            <span class="btn btn-sm btn-light">&laquo;</span>
          </li>
          {% endif %} {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %} {% if page_obj.number == i %}
          <li class="active page-item">
            <span class="btn btn-sm btn-light">
              {{ i }}</span>
          </li>
          {% else %} {% if i == page_obj.paginator.ELLIPSIS %}
          <li class="page-item">
            <span class="btn btn-sm btn-light">
              {{ i }}</span>
          </li>
          {% else %}
          <li class="page-item">
            <a class="btn btn-sm btn-warning" href="?page={{ i }}">
              {{ i }}</a>
          </li>
          {% endif %} {% endif %} {% endfor %} {% if page_obj.has_next %}
          <li class="page-item">
            <a class="btn btn-sm btn-warning" href="?page={{ page_obj.next_page_number }}">»</a>
          </li>
          {% else %}
          <li class="disabled page-item">
            <span class="btn btn-sm btn-light">&raquo;</span>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}