{% extends "base.html" %}
{% load countries %}

{% block content %}
{% load static %}
{% load i18n %}
<div class="header">
    <div class="filtered">
        <div class="content">
            <br>
            <br>

            {% if remcand > 0 %}
            <h1 class="text-center ">{{object.get_title_display}} {{ object.firstname }}
                {{ object.secondname }} {{ object.lastname }} Profile</h1>
            <div class="row justify-content-md-center">
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Candidate information</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                                    aria-controls="panelsStayOpen-collapseOne">
                                                    <i class="fas fa-user"></i> Personal information
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseOne"
                                                class="accordion-collapse collapse show"
                                                aria-labelledby="panelsStayOpen-headingOne">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.get_title_display }}" disabled>
                                                                <label for="floatingInput">Title</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput" value="{{  object.firstname }}"
                                                                    disabled>
                                                                <label for="floatingInput">First Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput" value="{{  object.secondname }}"
                                                                    disabled>
                                                                <label for="floatingInput">Second Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput" value="{{  object.email }}"
                                                                    disabled>
                                                                <label for="floatingInput">Email</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.phone_number }}" disabled>
                                                                <label for="floatingInput">Phone</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.get_gender_display }}" disabled>
                                                                <label for="floatingInput">Gender</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.get_marital_status_display }}"
                                                                    disabled>
                                                                <label for="floatingInput">Marital Status</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.birthofdate|date:"d/m/Y" }}"
                                                                    disabled>
                                                                <label for="floatingInput">Date of birth</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.get_country_of_birth_display }}"
                                                                    disabled>
                                                                <label for="floatingInput">Country of birth</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.place_of_birth }}" disabled>
                                                                <label for="floatingInput">Place of birth</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.get_primary_nationality_display }}"
                                                                    disabled>
                                                                <label for="floatingInput">Primary nationality</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.get_secondary_nationality_display }}"
                                                                    disabled>
                                                                <label for="floatingInput">Secondary nationality</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"
                                                                    id="floatingInput"
                                                                    value="{{  object.get_highest_level_of_education_display }}"
                                                                    disabled>
                                                                <label for="floatingInput">Highest level of
                                                                    education</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                <i class="fas fa-tty"></i> Contact information
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="panelsStayOpen-headingTwo">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  object.contact_phone }}" disabled>
                                                            <label for="floatingInput">Contact phone</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  object.get_phone_type_display }}" disabled>
                                                            <label for="floatingInput">Type</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  object.alternate_email_address }}" disabled>
                                                            <label for="floatingInput">Alternate email address</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                <i class="fas fa-street-view"></i> Permanent Address
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="panelsStayOpen-headingThree">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control"
                                                                id="floatingInputaddress1"
                                                                value="{{  object.address1 }}" disabled>
                                                            <label for="floatingInputaddress1">Address (line 1)</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control"
                                                                id="floatingInputaddress2"
                                                                value="{{  object.address2 }}" disabled>
                                                            <label for="floatingInputaddress2">Address (line 2)</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control"
                                                                id="floatingInputcity" value="{{object.city}}" disabled>
                                                            <label for="floatingInputcity">City</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  object.postal_code }}" disabled>
                                                            <label for="floatingInput">Postal Code</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  object.get_country_display }}" disabled>
                                                            <label for="floatingInput">Country</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                                <i class="fas fa-user-graduate"></i> Education <span
                                                    class="badge rounded-pill bg-primary">

                                                    {{ educations|length }}
                                                </span>

                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                                            aria-labelledby="panelsStayOpen-headingFour">
                                            <div class="accordion-body">
                                                {% if educations|length == 0 %}
                                                <p class="text-center"> The candidate not added educations records
                                                </p>
                                                {% else %}
                                                {% for edu in educations %}
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.get_education_level_display }}" disabled>
                                                            <label for="floatingInput">Education level</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.get_country_display }}" disabled>
                                                            <label for="floatingInput">Country</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.city }}" disabled>
                                                            <label for="floatingInput">City</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.institution }}" disabled>
                                                            <label for="floatingInput">Institution</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.original_title_of_the_qualification }}"
                                                                disabled>
                                                            <label for="floatingInput">Original Title of the
                                                                Qualification</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.main_subject }}" disabled>
                                                            <label for="floatingInput">Main subject</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.start_date }}" disabled>
                                                            <label for="floatingInput">Start Date</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  edu.graduation_date }}" disabled>
                                                            <label for="floatingInput">Graduation Date</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                                <a>
                                                    <i class="fas fa-building"></i>
                                                    Employments <span class="badge rounded-pill bg-primary">

                                                        {{ employments|length }}
                                                    </span></a>

                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                                            aria-labelledby="panelsStayOpen-headingFive">
                                            <div class="accordion-body">
                                                {% if employments|length == 0 %}
                                                <p class="text-center"> The candidate not added employments records
                                                </p>
                                                {% else %}
                                                {% for emp in employments %}
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.employer }}" disabled>
                                                            <label for="floatingInput">Employer</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.get_country_display }}" disabled>
                                                            <label for="floatingInput">Country</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.city }}" disabled>
                                                            <label for="floatingInput">City</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.get_current_job_display }}" disabled>
                                                            <label for="floatingInput">Current job</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.start_date|date:"d/m/Y" }}" disabled>
                                                            <label for="floatingInput">Start date</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.end_date|date:"d/m/Y" }}" disabled>
                                                            <label for="floatingInput">End date</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.job_title }}" disabled>
                                                            <label for="floatingInput">Job title</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput"
                                                                value="{{  emp.reason_for_leaving }}" disabled>
                                                            <label for="floatingInput">Reason for leaving</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row justify-content-md-center">
                <h3 class="text-danger text-center"> You don't have remaining views </h3>
            </div>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    {% endblock %}